ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

img
{
	width:230;
	height:36px;
	border:0;
}
img:hover{
	color:white
}

li {
    float: left;
	text-decoration: none;
	padding-top: 2px;
}

li a {
    display: block;
    color: grey;
    text-align: center;
    padding: 12px 16px;
    text-decoration: none;
	font-size: 27px;
	text-decoration: none;
}

li a:hover {
    background-color: none;
    color: white
	
}
.log
{
	padding-left: 100;
}