html {
    /* Prevent horizontal jumping when scroll-bar dissapears */
    overflow-y: scroll;
}

/*Move content down so it isn't under nav bar*/
#MainContainer {
    padding-top: 70px;
}

/*Center logout button vertically*/
#logoutButton {
    margin-top: 8px;
}

/*Navigation colors*/
.home #navHomeTab,
.workshops #navWorkshopsTab,
.badges #navBadgesTab,
.account #navAccountTab,
.admin #navAdminTab {
    color: #fff;
    background-color: #080808;
}

/*Prevent table cells resizing*/
table {
    table-layout: fixed;
}

/*Allow word wraping in workshops tables*/
td {
    word-wrap: break-word;
}

/*Workshop request response page stuff*/
.request-response {
  padding-top:20px;
  padding-bottom: 20px;
  margin: 120px 75px ;
  border-top: 30px solid #fff;
  border-bottom: 30px solid #fff;
  border-left: 30px solid rgba(0,0,0,0.1);
  border-right:30px solid rgba(0,0,0,0.1);
}


@media (max-width: 767px)  {
    #ViewMeetingsBtn {
        margin-bottom: 5px;
    }
}